@font-face {
	font-family: 'font1';
	src: url(Helicopta.ttf) format('truetype');
}


* {
	font-family: 'font1', Wingdings;
	color: black;
	text-align: center;
}
#h1{
	font-size: 50px;
}
body {
	background-image: url('epic.jpg');
}
#container{
	display: flex;
	flex-direction:column;
	background-color: gray;
	color: aquamarine;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#new {
	padding: 10px 10px;
}
.button {
	width: 120px;
	border: black double;
	color: black;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
